name: Docker Image Build

on: 
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v1
      with:
        fetch-depth: 1 # shallow clone
    - name: Build Docker Image
      run: docker build . --file Docker/Dockerfile